
  .Post {
    width: 10%;
    height: 20%;
    min-width: 13em;
    border-style: solid;
    border-width: 5px;
    border-radius: 2px;
    border-color: rgb(255, 227, 133);
    margin: 1em auto;
    padding: 2em;
    background: rgb(255, 230, 44);
    position: relative;
    min-height: 10em;
  }

  .close {
    color: Black;
    float: right;
  }
  
  .close:hover {
    color: red;
    cursor: pointer;
  }